<!doctype html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" href="template/css/bundle.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="template/css/normalize.css"> -->
		
		<title>Page</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta charset="utf-8">
		
		<meta name="description" content="">
		<meta name="keywords" content="">
		
		<meta property="og:url" content=""/>
		<meta property="og:type" content="">
		<meta property="og:image" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		
		<meta name="twitter:card" content="">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:creator" content="">
		<meta name="twitter:description" content="">
		
		<link rel="shortcut icon" type="image/x-icon" href="">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
		<link rel="apple-touch-icon-precomposed" href="">
		<link rel="shortcut icon" href="">
	</head>
<body class="app">
	
	<div class="sidebar-menu">
		<div class="sidebar-menu__overlay"></div>
		<div class="sidebar-menu__body">
			<div class="sidebar-menu__content">
				<div class="sidebar-menu__content-line sidebar-menu__content-line_vertical"></div>
				<div class="sidebar-menu__houses-list">
					<div class="sidebar-menu__houses-list-dot"></div>
					<div class="sidebar-menu__house-wrapper">
						<a href="#" class="sidebar-menu__house">
							<div class="sidebar-menu__house-section">
								<div class="sidebar-menu__house-thumb">
									<div class="sidebar-menu__house-thumb-image"></div>
								</div>
							</div>
							<div class="sidebar-menu__house-section">
								<div class="sidebar-menu__house-title">
									<div class="sidebar-menu__house-title-text">Дом Золотой</div>
								</div>
								<div class="sidebar-menu__house-subtitle">
									<div class="sidebar-menu__house-subtitle-text">Калинина, 66</div>
								</div>
							</div>
						</a>
						<div class="sidebar-menu__house-tooltip">
							<div class="sidebar-menu__house-tooltip-section">
								<div class="sidebar-menu__house-tooltip-section-text">Срок сдачи:</div>
							</div>
							<div class="sidebar-menu__house-tooltip-section">
								<div class="sidebar-menu__house-tooltip-section-text">4 января 2019 года</div>
							</div>
						</div>
					</div>
					<div class="sidebar-menu__house-wrapper">
						<a href="#" class="sidebar-menu__house">
							<div class="sidebar-menu__house-section">
								<div class="sidebar-menu__house-thumb">
									<div class="sidebar-menu__house-thumb-image"></div>
								</div>
							</div>
							<div class="sidebar-menu__house-section">
								<div class="sidebar-menu__house-title">
									<div class="sidebar-menu__house-title-text">Дом на Вознесенской</div>
								</div>
								<div class="sidebar-menu__house-subtitle">
									<div class="sidebar-menu__house-subtitle-text">Калинина, 66</div>
								</div>
							</div>
						</a>
						<div class="sidebar-menu__house-tooltip">
							<div class="sidebar-menu__house-tooltip-section">
								<div class="sidebar-menu__house-tooltip-section-text">Дом готов</div>
							</div>
							<div class="sidebar-menu__house-tooltip-section">
								<div class="sidebar-menu__house-tooltip-section-text">Свободно 4 квартиры</div>
							</div>
						</div>
					</div>
					<div class="sidebar-menu__house-wrapper">
						<a href="#" class="sidebar-menu__house">
							<div class="sidebar-menu__house-section">
								<div class="sidebar-menu__house-thumb">
									<div class="sidebar-menu__house-thumb-image"></div>
								</div>
							</div>
							<div class="sidebar-menu__house-section">
								<div class="sidebar-menu__house-title">
									<div class="sidebar-menu__house-title-text">Дом на Постаногова</div>
								</div>
								<div class="sidebar-menu__house-subtitle">
									<div class="sidebar-menu__house-subtitle-text">Калинина, 66</div>
								</div>
							</div>
						</a>
						<div class="sidebar-menu__house-tooltip">
							<div class="sidebar-menu__house-tooltip-section">
								<div class="sidebar-menu__house-tooltip-section-text">Дом сдан</div>
							</div>
							<div class="sidebar-menu__house-tooltip-section">
								<div class="sidebar-menu__house-tooltip-section-text">Все квартиры проданы</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-menu__sections-nav">
					<div class="sidebar-menu__sections-title">меню</div>
					<div class="sidebar-menu__sections-list">
						<a onclick="app.setActiveScreen(app.conf.screensNavigator, 0);app.openSidebarMenu();" href="#" class="sidebar-menu__sections-item">
							<div class="sidebar-menu__sections-item-text">Главная</div>
						</a>
						<a href="#" class="sidebar-menu__sections-item">
							<div class="sidebar-menu__sections-item-text">Новости</div>
						</a>
						<a href="#" class="sidebar-menu__sections-item">
							<div class="sidebar-menu__sections-item-text">О компании</div>
						</a>
						<a href="#" class="sidebar-menu__sections-item">
							<div class="sidebar-menu__sections-item-text">Документы</div>
						</a>
						<a onclick="app.setActiveScreen(app.conf.screensNavigator, 2);app.openSidebarMenu();" href="#" class="sidebar-menu__sections-item">
							<div class="sidebar-menu__sections-item-text">Истории</div>
						</a>
						<a href="#" class="sidebar-menu__sections-item">
							<div class="sidebar-menu__sections-item-text">Купим землю</div>
						</a>
						<a onclick="app.setActiveScreen(app.conf.screensNavigator, 3);app.openSidebarMenu();" href="#" class="sidebar-menu__sections-item">
							<div onclick="app.setActiveScreen(app.conf.screensNavigator, 3)" class="sidebar-menu__sections-item-text">Контакты</div>
						</a>
					</div>
				</div>
				<div class="sidebar-menu__categories-nav">
					<div class="sidebar-menu__categories-dot"></div>
					<div class="sidebar-menu__categories-list">
						<a href="#" class="sidebar-menu__categories-item">
							<div class="sidebar-menu__categories-item-text">Smart-проекты</div>
						</a>
						<a href="#" class="sidebar-menu__categories-item">
							<div class="sidebar-menu__categories-item-text">Класс-элит</div>
						</a>
						<a href="#" class="sidebar-menu__categories-item">
							<div class="sidebar-menu__categories-item-text">Выбрать квартиру</div>
						</a>
						<a href="#" class="sidebar-menu__categories-item">
							<div class="sidebar-menu__categories-item-text">Акции</div>
						</a>
						<a href="#" class="sidebar-menu__categories-item">
							<div class="sidebar-menu__categories-item-text">Коммерция</div>
						</a>
					</div>
				</div>
				<div class="sidebar-menu__footer">
					<div class="sidebar-menu__footer-dot"></div>
					<div class="sidebar-menu__content-line sidebar-menu__content-line_horizontal"></div>
					<div class="about-developer__advantages-socials">
						<div class="social-buttons sidebar-menu__social-buttons">
							<div class="social-buttons__button-wrapper">
								<a href="#" class="social-buttons__button">
									<div class="social-buttons__button-image social-buttons__button-image_vk"></div>
								</a>
							</div>
							<div class="social-buttons__button-wrapper">
								<a href="#" class="social-buttons__button">
									<div class="social-buttons__button-image social-buttons__button-image_instagram"></div>
								</a>
							</div>
							<div class="social-buttons__button-wrapper">
								<a href="#" class="social-buttons__button">
									<div class="social-buttons__button-image social-buttons__button-image_facebook"></div>
								</a>
							</div>
							<div class="social-buttons__button-wrapper">
								<a href="#" class="social-buttons__button">
									<div class="social-buttons__button-image social-buttons__button-image_ok"></div>
								</a>
							</div>
							<div class="social-buttons__button-wrapper">
								<a href="#" class="social-buttons__button">
									<div class="social-buttons__button-image social-buttons__button-image_youtube"></div>
								</a>
							</div>
						</div>
					</div>
					<a href="#" class="sidebar-menu__footer-phone">
						<div class="sidebar-menu__footer-phone-text">7 834 21 41 454</div>
					</a>
					<div href="#" class="sidebar-menu__footer-copyright">
						<div class="sidebar-menu__footer-copyright-text">Главстройиндустрия 2018</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<header class="app-header">
		<div class="app-header__content-limiter">
			<div class="app-header__section">
				<div class="app-header__hamburger">
					<div class="app-header__hamburger-line app-header__hamburger-line_top"></div>
					<div class="app-header__hamburger-line app-header__hamburger-line_middle"></div>
					<div class="app-header__hamburger-line app-header__hamburger-line_bottom"></div>
				</div>
				<a href="#" class="app-header__item">
					<div class="app-header__item-text">Smart-проекты</div>
				</a>
				<a href="#" class="app-header__item">
					<div class="app-header__item-text">Класс-элит</div>
				</a>
				<a href="#" class="app-header__item">
					<div class="app-header__item-text">Акции</div>
				</a>
				<a href="#" class="app-header__item">
					<div class="app-header__item-text">Выбрать квартиру</div>
				</a>
				<a href="#" class="app-header__item app-header__item_no-margin">
					<div class="app-header__item-text">Коммерция</div>
				</a>
			</div>
			<div class="app-header__section">
				<a href="#" class="app-header__item app-header__item_no-margin">
					<div class="app-header__item-text">+7 342 2 144 122</div>
				</a>
			</div>
		</div>
	</header>