<div class="sidebar-menu">
	<div class="sidebar-menu__overlay"></div>
	<div class="sidebar-menu__body">
		<div class="sidebar-menu__content">
			<div class="sidebar-menu__content-line sidebar-menu__content-line_vertical"></div>
			<div class="sidebar-menu__houses-list">
				<div class="sidebar-menu__houses-list-dot"></div>
				<div class="sidebar-menu__house-wrapper">
					<a href="#" class="sidebar-menu__house">
						<div class="sidebar-menu__house-section">
							<div class="sidebar-menu__house-thumb">
								<div class="sidebar-menu__house-thumb-image"></div>
							</div>
						</div>
						<div class="sidebar-menu__house-section">
							<div class="sidebar-menu__house-title">
								<div class="sidebar-menu__house-title-text">Золотой</div>
							</div>
						</div>
					</a>
				</div>
				<div class="sidebar-menu__house-wrapper">
					<a href="#" class="sidebar-menu__house">
						<div class="sidebar-menu__house-section">
							<div class="sidebar-menu__house-thumb">
								<div class="sidebar-menu__house-thumb-image"></div>
							</div>
						</div>
						<div class="sidebar-menu__house-section">
							<div class="sidebar-menu__house-title">
								<div class="sidebar-menu__house-title-text">Золотой</div>
							</div>
						</div>
					</a>
				</div>
				<div class="sidebar-menu__house-wrapper">
					<a href="#" class="sidebar-menu__house">
						<div class="sidebar-menu__house-section">
							<div class="sidebar-menu__house-thumb">
								<div class="sidebar-menu__house-thumb-image"></div>
							</div>
						</div>
						<div class="sidebar-menu__house-section">
							<div class="sidebar-menu__house-title">
								<div class="sidebar-menu__house-title-text">Золотой</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="sidebar-menu__sections-nav">
				<div class="sidebar-menu__sections-title">меню</div>
				<div class="sidebar-menu__sections-list">
					<a href="#" class="sidebar-menu__sections-item">
						<div class="sidebar-menu__sections-item-text">Главная</div>
					</a>
					<a href="#" class="sidebar-menu__sections-item">
						<div class="sidebar-menu__sections-item-text">История</div>
					</a>
					<a href="#" class="sidebar-menu__sections-item">
						<div class="sidebar-menu__sections-item-text">Контакты</div>
					</a>
					<a href="#" class="sidebar-menu__sections-item">
						<div class="sidebar-menu__sections-item-text">Документация</div>
					</a>
				</div>
			</div>
			<div class="sidebar-menu__categories-nav">
				<div class="sidebar-menu__categories-dot"></div>
				<div class="sidebar-menu__categories-list">
					<a href="#" class="sidebar-menu__categories-item">
						<div class="sidebar-menu__categories-item-text">Smart-проекты</div>
					</a>
					<a href="#" class="sidebar-menu__categories-item">
						<div class="sidebar-menu__categories-item-text">Премиум-класс</div>
					</a>
					<a href="#" class="sidebar-menu__categories-item">
						<div class="sidebar-menu__categories-item-text">Спецпредложения</div>
					</a>
					<a href="#" class="sidebar-menu__categories-item">
						<div class="sidebar-menu__categories-item-text">Выбрать квартиру</div>
					</a>
				</div>
			</div>
			<div class="sidebar-menu__footer">
				<div class="sidebar-menu__footer-dot"></div>
				<div class="sidebar-menu__content-line sidebar-menu__content-line_horizontal"></div>
				<div class="social-buttons sidebar-menu__social-buttons">
					<div class="social-buttons__button-wrapper">
						<a href="#" class="social-buttons__button">
							<div class="social-buttons__button-image social-buttons__button-image_vk"></div>
						</a>
					</div>
					<div class="social-buttons__button-wrapper">
						<a href="#" class="social-buttons__button">
							<div class="social-buttons__button-image social-buttons__button-image_instagram"></div>
						</a>
					</div>
				</div>
				<a href="#" class="sidebar-menu__footer-phone">
					<div class="sidebar-menu__footer-phone-text">7 834 21 41 454</div>
				</a>
				<div href="#" class="sidebar-menu__footer-copyright">
					<div class="sidebar-menu__footer-copyright-text">Главстройиндустрия 2018</div>
				</div>
			</div>
		</div>
	</div>
</div>